.SectionKasa {
  background-color: lightgrey;
  .ImageKasa{
    display: flex;
    justify-content: center;
    gap: 5vw;
    #ImageMobile {
      width: 12vw;
    }
    #ImageDesktop {
      width: 40vw;
    }
  }
  .buttons > button{
    --color: grey;
  }
}

@media (max-width: 1280px) {
  .SectionKasa {
    .ImageKasa{
      flex-direction: column;
      align-items: center;
      #ImageMobile {
        width: 40vw;
      }
      #ImageDesktop {
        width: 70vw;
      }
    }
  }
}